flask
streamlit
requests
beautifulsoup4
fastapi
uvicorn
python-dotenv
pydantic
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langgraph
faiss-cpu
pypdf
huggingface-hub
transformers
torch